.container {
  color: black;
  text-align: right;
  max-width: 1222px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
}

.container p {
  margin-top: 20px;
  direction: rtl;
  text-align: justify;
  font-size: 15px;
  text-align: 2.6rem;
}

.container span {
  font-size: 14px;
}

.tiny {
  color: #290f01;
  margin: 20px 0;
  display: inline-block;
}

.title {
  margin: 20px 0 !important;
  font-size: 25px;
  color: #3d1601;
}
